server:
  log_level: info

positions:
  filename: /tmp/positions.yaml

client:
  url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker-containers
          environment: development

  - job_name: backend
    static_configs:
      - targets:
          - localhost
        labels:
          job: backend
          service: backend
          __path__: /var/log/backend/*.log
