server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  replication_factor: 1

schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  allow_structured_metadata: false

analytics:
  reporting_enabled: false

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
